.container {
  border: 2px solid red;
  width: 90vh;
  height: 60vh;
  justify-self: center;
  margin-top: 5%;
  font-family: "Smooch Sans";
  font-size: larger;
}


.title-heading,
.user-input,
button,
input {
  justify-self: center;
  text-align: center;
  font-family: 'Smooch Sans';
  font-size: large;
}

.card-container {
  border: 2px solid grey;
  border-radius: 8px;
  margin-top: 25px;
  width: 60vh;
  height: 35vh;
  justify-self: center;
  display: flex;
  flex-direction: column;
}

.name-container {
  padding-left: 10px;
}

.main-info-container {
  height: 100%;
  width: 100%;
  display: flex;
}

.card-top-info {
  border: 1px solid grey;
  border-bottom: 2px solid grey;
}


/* --------------*/

.card-main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.char-details {
  border-left: 2px solid grey;
  border-right: 0px;
  width: 100%;
}

.card-signature {
  border: 2px solid grey;
}

/* TABLE -------------------------- */
.top-table,
.top-td,
.top-theaders {
  text-align: center;
  justify-self: center;
}

.hair-color,
.skin-color,
.eye-color,
.homeworld {
  width: 15%;
}

.main-tr th {
  text-align: left;
  padding-left: 25px;
  height: 35px;
}

.main-tr td {
  padding-left: 15px;
}
